.button {
    padding: 5px;
    background: tomato;
    color: rgb(243, 235, 235);
    width: 120px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgb(215, 154, 154);
}